@using Bionet4.Properties
@using Bionet4.ViewModels
@model ICollection<ThumbViewModel>

@if (Model.Count > 0)
{
<div class="main-content">
    <div class="container">
        <div class="row">
            @foreach (ThumbViewModel article in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="fa @article.FaIcon"></i></div>
                                <div class="ch-info-back">
                                    <i class="fa @article.FaIcon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>@article.Name</h3>
                            <p>
                                @article.Description
                            </p>
                            <a href="/Articles/Article/@article.Id">@Resources.ReadMore <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="border-bottom margin-top30">
                        </div>
                        <div class="border-bottom">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
}