@using Bionet4.Properties
@using Bionet4.Data.Models
@model ICollection<Article>

<!-- Main Content -->
<div class="content-about margin-top60">
    <div class="container">
        <div class="row padding-top40">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @foreach (Article article in Model)
                {
                    <div class="content-box-about ch-item">
                        <div class="content-box-about-icon">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="fa @article.FaIcon"></i></div>
                                <div class="ch-info-back">
                                    <i class="fa @article.FaIcon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-about-info">
                            <h3>@article.Name</h3>
                            @Html.Raw(article.Description)
                            <a href="/Articles/Article/@article.Id">@Resources.ReadMore <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- /Main Content -->