@using Bionet4.Properties
@using Bionet4.Helpers
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  
<html> 
	<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="description" content="@ViewBag.Description">
        <meta name="author" content="biosystem.com.ua">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900' rel='stylesheet' type='text/css'>
        <!-- Library CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/css/animations.css" media="screen">
        <link rel="stylesheet" href="/css/superfish.css" media="screen">
        <link rel="stylesheet" href="/css/revolution-slider/css/settings.css" media="screen">
        <link rel="stylesheet" href="/css/revolution-slider/css/extralayers.css" media="screen">
        <link rel="stylesheet" href="/css/prettyPhoto.css" media="screen">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Skin -->
        <link rel="stylesheet" href="/css/colors/green.css" class="colors">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/theme-responsive.css">
        <!-- Favicons -->
        <link rel="shortcut icon" href="/img/ico/favicon.ico">
        <link rel="apple-touch-icon" href="/img/ico/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-touch-icon-114.png">
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="/js/respond.min.js"></script>
        <![endif]-->
        <!--[if IE]>
        <link rel="stylesheet" href="/css/ie.css">
        <![endif]-->
    </head>
    <body class="boxed home">
        <div class="page-mask">
            <div class="page-loader">
                <div class="spinner"></div>
                Loading...
            </div>
        </div>
        <!-- Wrap -->
        <div class="wrap">
            <!-- Header -->
            <header id="header">
                <!-- Header Top Bar -->
                <div class="top-bar">
                    <div class="slidedown collapse">
                        <div class="container">
                            <div class="pull-left">
                                <ul class="social pull-left">
                                    @if (!string.IsNullOrEmpty(Resources.contact_facebook))
                                    {
                                        <li class="facebook"><a href="@Resources.contact_facebook"><i class="fa fa-facebook"></i></a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(Resources.contact_twitter))
                                    {
                                        <li class="twitter"><a href="@Resources.contact_twitter"><i class="fa fa-twitter"></i></a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(Resources.contact_dribbble))
                                    {
                                        <li class="dribbble"><a href="@Resources.contact_dribbble"><i class="fa fa-dribbble"></i></a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(Resources.contact_linkedin))
                                    {
                                        <li class="linkedin"><a href="@Resources.contact_linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(Resources.contact_rss))
                                    {
                                        <li class="rss"><a href="@Resources.contact_rss"><i class="fa fa-rss"></i></a></li>
                                    }
                                </ul>
                            </div>
                            <div class="phone-login pull-right">
                                @if (!string.IsNullOrEmpty(Resources.CallUs))
                                {
                                    <a><i class="fa fa-phone"></i> @Resources.CallUs</a>
                                }
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Header Top Bar -->
                <!-- Main Header -->
                <div class="main-header">
                    <div class="container">
                        <!-- TopNav -->
                        <div class="topnav navbar-header">
                            <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                            <i class="fa fa-angle-down icon-current"></i>
                            </a> 
                        </div>
                        <!-- /TopNav-->
                        <!-- Logo -->
                        <div class="logo pull-left">
                            <h1>
                                <a href="/">
                                <img class="logo-color" src="/img/bionet22.png" alt="@Resources.company" height="60">
                                </a>
                            </h1>
                        </div>
                        <!-- /Logo -->
                        <!-- Mobile Menu -->
                        <div class="mobile navbar-header">
                            <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                            <i class="fa fa-bars fa-2x"></i>
                            </a> 
                        </div>
                        <!-- /Mobile Menu -->
                        <!-- Menu Start -->
                        <nav class="collapse navbar-collapse menu">
                            @Html.MvcSiteMap().MainMenu()
                        </nav>
                        <!-- /Menu --> 
                    </div>
                </div>
                <!-- /Main Header -->
            </header>
            <!-- /Header --> 
            <!-- Main Section -->
            @RenderBody()
            <!-- /Main Section -->
            <!-- Footer -->
            <footer id="footer">
                <div class="pattern-overlay">
                    <!-- Footer Top -->
                    <div class="footer-top">
                        <div class="container">
                            <div class="row">
                                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one wow fadeIn">
                                    @Html.Partial("_FotterTip")
                                </section>
                                <section class="col-lg-9 col-md-9 col-sm-9 footer-two wow fadeIn">
                                    <h3 class="light">Карта сайта</h3>
                                    @Html.MvcSiteMap().FooterMenu()
                                </section>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Top --> 
                    <!-- Footer Bottom -->
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                                    <p class="credits">&copy; @DateTime.Now.Year - <a href="@Resources.contact_web">@Resources.company</a>. @Resources.reserved </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                                    <ul class="social social-icons-footer-bottom">
                                        @if (!string.IsNullOrEmpty(Resources.contact_facebook))
                                        {
                                            <li class="facebook"><a href="@Resources.contact_facebook" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(Resources.contact_twitter))
                                        {
                                            <li class="twitter"><a href="@Resources.contact_twitter" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(Resources.contact_dribbble))
                                        {
                                            <li class="dribbble"><a href="@Resources.contact_dribbble" data-toggle="tooltip" title="Dribble"><i class="fa fa-dribbble"></i></a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(Resources.contact_linkedin))
                                        {
                                            <li class="linkedin"><a href="@Resources.contact_linkedin" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(Resources.contact_rss))
                                        {
                                            <li class="rss"><a href="@Resources.contact_rss" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Bottom --> 
                    <!-- /Footer Bottom --> 
                </div>
            </footer>

            <!-- Modal -->
            <section id="modals">
                <!-- Login Modal -->
                <div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="form-signin-heading modal-title" id="myModalLabel">Login</h2>
                            </div>
                            <form method="post" id="login">
                                <div class="modal-body">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <input class="form-control" id="username" name="username" type="text" placeholder="Username" value="" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <input class="form-control" type="email" id="email" name="email" placeholder="Email" value="" required>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <a href="password-recovery.html" class="pull-left">(Lost Password?)</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-color">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Login Modal -->
                <!-- Registration Modal -->
                <div class="modal register fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h2 class="form-signin-heading modal-title" id="registrationModalLabel">Create a new account</h2>
                        </div>
                        <form method="post" id="registration">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" value="" class="form-control" placeholder="First Name">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="" class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="" class="form-control" placeholder="E-mail Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="password" value="" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="password" value="" class="form-control" placeholder="Re-enter Password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-color">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Registration Modal -->
            </section>

            <!-- Scroll To Top --> 
            <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
        </div>
        <!-- /Wrap -->

        <!-- The Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-migrate-1.0.0.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/revolution-slider/js/jquery.themepunch.plugins.min.js"></script> 
        <script src="/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/js/jquery.parallax.js"></script>
        <script src="/js/jquery.wait.js"></script>
        <script src="/js/fappear.js"></script> 
        <script src="/js/modernizr-2.6.2.min.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
        <script src="/js/jquery.prettyPhoto.js"></script>
        <script src="/js/superfish.js"></script>
        <script src="/js/tweetMachine.js"></script>
        <script src="/js/tytabs.js"></script>
        <script src="/js/jquery.gmap.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/jquery.countTo.js"></script>
        <script src="/js/jflickrfeed.js"></script>
        <script src="/js/imagesloaded.pkgd.min.js"></script>
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/jquery.fitvids.js"></script>
        <script src="/js/custom.js"></script>

        @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

        @RenderSection("scripts", required: false)

    </body>
</html>