@using Bionet4.Properties
@using Bionet4.ViewModels
@model LoginViewModel
<!-- Login Modal -->
<div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    @using (Ajax.BeginForm("LoginPartial", "Account", null,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "loginModal",
            OnSuccess = "document.location.reload(true);"
        },
        new { @id = "frmModalLogin" }))
        {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="form-signin-heading modal-title" id="myModalLabel">@Resources.Login</h2>
                </div>
                <form method="post" id="login">
                    <div class="modal-body">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = Resources.Password, @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Close</button>
                        <button type="submit" class="btn btn-color">@Resources.Login</button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>
<!-- /Login Modal -->