@using Bionet4.Properties
@using Bionet4.Data.Models
@model ICollection<Article>

<!-- Main Content -->
<div class="content margin-top60 margin-bottom60">
    <div class="container">
        <div class="row">

            <!-- Blog Posts -->
            <div class="posts-block col-lg-8 col-md-8 col-sm-8 col-xs-12">

                @foreach (Article article in Model)
                {

                <article class="post hentry">
                    <header class="post-header">
                        <h2>@article.Name</h2>
                        <div class="blog-entry-meta">
                            <div class="blog-entry-meta-date">
                                <i class="fa fa-clock-o"></i>
                                <span class="blog-entry-meta-date-day">@((article.PublishDate ?? article.CreatedDateTime).Day)</span>
                                <span class="blog-entry-meta-date-month">@((article.PublishDate ?? article.CreatedDateTime).ToString("MMM"))</span>
                                <span class="blog-entry-meta-date-year">@((article.PublishDate ?? article.CreatedDateTime).Year)</span>
                            </div>
                            @if (!string.IsNullOrEmpty(article.Author))
                            {
                            <div class="blog-entry-meta-author">
                                <i class="fa fa-user"></i>
                                <a href="#" class="blog-entry-meta-author">@article.Author</a>
                            </div>
                            }
                        </div>
                    </header>
                    <div class="post-content">
                        @Html.Raw(article.Description)
                    </div>
                    <footer class="post-footer">
                        <a href="/Articles/Post/@article.Id" class="btn btn-color">@Resources.ReadMore</a>
                    </footer>
                </article>
                <div class="star">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="star-divider">
                                <div class="star-divider-icon">
                                    <i class=" fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }

            </div>
            <!-- /Blog Posts -->
        </div>
    </div>
</div>
<!-- /Main Content -->