@using Bionet4.Properties
@using Bionet4.Data.Models
@using Bionet4.ViewModels
@model ProductsViewModel

<div class="content margin-top60 margin-bottom60">
    <div class="container">
        <div class="row">
            <!-- Sidebar Start -->
            <div-- class="sidebar col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <!-- Category Widget Start -->
                <div class="widget category">
                    <h3 class="title">Categories</h3>
                    <ul class="category-list slide">
                        @foreach (Category category in Model.Categories)
                        {
                            <li><a href="#">@category.Name</a></li>
                        }
                    </ul>
                </div>
                <!-- /Category Widget End -->
                <!-- Best Seller Start -->
                <div class="widget">
                    <h3 class="title">Best Seller</h3>

                    @foreach (Product product in Model.ProductsBest)
                    {
                    <!-- Product Items -->
                    <div class="product-block">
                        <div class="image ">
                            <span class="product-label product-label-special">
                                <span>NEW</span>
                            </span>
                            <!-- Swap image -->
                            <div class="flip">
                                <a href="/Products/Product/@product.Id" class="swap-image">
                                    <img src="/Images/Image/@product.ImageID?width=190" title="@product.Name" alt="@product.Name" class="front">
                                </a>
                            </div>
                            <!-- /Swap image -->
                            <a href="/Products/Product/@product.Id" class="pav-colorbox btn btn-theme-default cboxElement"><em class="fa fa-plus"></em><span>View Product</span></a>
                        </div>
                        <div class="product-meta">
                            <div class="left">
                                <h3 class="name"><a href="/Products/Product/@product.Id">@product.Name</a></h3>
                                <div class="price">
                                    <span class="price-old">@(product.Price * 1.1m)</span>
                                    <span class="price-new">@product.Price</span>
                                </div>
                            </div>
                            <div class="right">
                                <div class="rating">
                                    <img src="img/shop/stars-5.png" alt="Based on 1 reviews.">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Items -->
                    }
                </div>
                <!-- Best Seller End -->
            </div>
            <!-- /Sidebar End -->
            <!-- Products Start-->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                        <div class="display">
                            <span><b>Display:</b></span>
                            <a class="active btn-small btn-color btn-pad"><i class="fa fa-th"></i></a>
                            <a class="list btn-small btn-pad" onclick="display(&#39;list&#39;);"><i class="fa fa-th-list"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div class="input-group">
                            <input type="text" value="Search Products" onfocus="if(this.value=='Search Products')this.value='';" onblur="if(this.value=='')this.value='Search Products';" class="search-input form-control product-search-height">
                            <span class="input-group-btn">
                                <button type="submit" class="subscribe-btn btn product-search-height"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <!-- /Product Search  -->
                    </div>
                </div>
                <div class="product-grid">
                    <div class="products-block">

                        @for (int block = 0; block < Model.Products.Count / 3 + 1; block++) {

                        <div class="row product-items @(block == 0 ? " first" : "")@(block == Model.Products.Count / 3 - 1 ? " last" : "")">

                            @for (int i = 0; i < 3; i++)
                            {
                                if (block * 3 + i < Model.Products.Count) {

                                    Product product = Model.Products[block * 3 + i];

                            <!-- Product Items -->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-cols @(i == 0 ? " first" : "")@(i == 2 ? " last" : "")">
                                <div class="product-block">
                                    <div class="image ">
                                        <span class="product-label product-label-special">
                                            <span>NEW</span>
                                        </span>
                                        <!-- Swap image -->
                                        <div class="flip">
                                            <a href="/Products/Product/@product.Id" class="swap-image">
                                                <img src="/Images/Image/@product.ImageID?width=190" title="@product.Name" alt="@product.Name" class="front">
                                            </a>
                                        </div>
                                        <!-- /Swap image -->
                                        <a href="/Products/Product/@product.Id" class="pav-colorbox btn btn-theme-default cboxElement"><em class="fa fa-plus"></em><span>View Product</span></a>
                                    </div>
                                    <div class="product-meta">
                                        <div class="left">
                                            <h3 class="name"><a href="/Products/Product/@product.Id">@product.Name</a></h3>
                                            <div class="price">
                                                <span class="price-old">@(product.Price * 1.1m)</span>
                                                <span class="price-new">@product.Price</span>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="rating">
                                                <img src="img/shop/stars-5.png" alt="Based on 1 reviews.">
                                            </div>
                                            <p class="description">
                                                @product.Description
                                            </p>
                                            <div class="action">
                                                <div class="cart">
                                                    <!-- <input type="button" value="" onclick="addToCart('');" class="product-icon fa fa-shopping-cart shopping-cart" /> -->
                                                    <button class="btn btn-shopping-cart">
                                                        <span class="fa fa-shopping-cart product-icon hidden-sm">&nbsp;</span>
                                                        <span>Add to Cart</span>
                                                    </button>
                                                </div>
                                                <div class="button-group">
                                                    <div class="wishlist">
                                                        <a title="Add to Wish List" class="fa fa-heart product-icon">
                                                            <span>Add to Wish List</span>
                                                        </a>
                                                    </div>
                                                    <div class="compare">
                                                        <a title="Add to Compare" class="fa fa-refresh product-icon">
                                                            <span>Add to Compare</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Product Items -->

                                }
                            }

                        </div>
                        }

                    </div>
                </div>
                <!-- .product-grid End-->
                <div class="row">
                    <div class="pagination-centered padding-bottom30">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Products End -->
        </div>
    </div>
