@using Bionet4.Properties
@using Bionet4.ViewModels
@model RegisterViewModel
<!-- Registration Modal -->
<div class="modal register fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">

    @using (Ajax.BeginForm("RegisterPartial", "Account", null,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "modal-content-registration",
            OnSuccess = "document.location.reload(true);"
        },
        new { @id = "frmModalRegistration" }))
        {
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content-registration">
                <div class="modal-header">
                    <h2 class="form-signin-heading modal-title" id="registrationModalLabel">@Resources.CreateAccount</h2>
                </div>
                <form method="post" id="registration">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = Resources.FirstName, @required = "required" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @placeholder = Resources.MiddleName, @required = "required" })
                                    @Html.ValidationMessageFor(m => m.MiddleName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = Resources.LastName, @required = "required" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = Resources.Code })
                                    @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Resources.Password })
                                </div>
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Resources.ConfirmPassword })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Close</button>
                        <button type="submit" class="btn btn-color">@Resources.Register</button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>
<!-- /Registration Modal -->