@using Bionet4.Data.Models
@using Bionet4.Properties
@using Bionet4.ViewModels
@model OrderViewModel
@{
    ViewBag.Title = Resources.OrderTitle;
    ViewBag.Description = Resources.OrderSubtitle;
}

<section id="main">
    <!-- Main Content -->
    <div class="content margin-top60 margin-bottom60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">

                    @using (Html.BeginForm("Create", "Orders", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                    <div class="table-box">
                        <!-- shopping-cart-table -->
                        <table class="shopping-cart-table responsive-table table table-bordered table-striped" id="shopping-cart-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="td-name">Product Name</th>
                                    <th></th>
                                    <th class="td-price">Unit Price</th>
                                    <th class="td-qty">Qty</th>
                                    <th class="td-total">Subtotal</th>
                                    <th class="td-remove"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.ProductsForOrder.Count; i++)
                                {
                                    ProductForOrder product = Model.ProductsForOrder[i];

                                <tr>
                                    <td class="td-images">
                                        <a class="product-image" href="shop-product-view.html">
                                            <img width="70" height="70" title="" alt="" src="/Images/Image/@product.ImageID?width=70">
                                        </a>
                                    </td>
                                    <td class="td-name">
                                        <a href="product-view.html">@product.Name</a>
                                    </td>
                                    <td class="td-edit">
                                        <a class="edit" href="#"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td class="td-price">
                                        <div class="price">@product.Price</div>
                                    </td>
                                    <td class="td-qty">
                                        @Html.TextBoxFor(x => x.ProductsForOrder[i].Point, new { @class = "form-control" })
                                    </td>
                                    <td class="td-total">
                                        <div class="price">@product.Price</div>
                                    </td>
                                    <td class="td-remove">
                                        <i class="fa fa-trash-o"></i>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <!-- /shopping-cart-table -->
                    </div>
                    <table class="shopping-cart-table shopping-cart-table-button table">
                        <tbody>
                            <tr>
                                <td class="action no-border">
                                    <input type="submit" class="update btn btn-color pull-right" value="@Resources.OrderSubmit" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    }
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Content -->
</section>