@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var name = ViewData.ModelMetadata.PropertyName;
    var val = ViewData.ModelMetadata.Model;
    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    name = prefix.Replace(".", "_");
}
<div id="@(name + "_imageDrop")" class="dropzone"></div>
@Html.Hidden("", val)

<script type="text/javascript">

    $(document).ready(function () {

        var @(name + "_options") = Dropzone.options.imageDrop = {
            url: '@Url.Action("ImageUpload")',
            paramName: "file",
            maxFiles: 1,
            acceptedFiles: "image/*",

            init: function (file) {

                imageDrop = this;

                if ($("#@name").val()) {
                    var mockFile = { name: "@val", size: 12345 };
                    this.emit("addedfile", mockFile);
                    this.createThumbnailFromUrl(mockFile, "/admin/Images/Image/@val");
                    this.files[0] = mockFile;
                };

                this.on("addedfile", function (files) {
                    if (this.files[1] != null) {
                        this.removeFile(this.files[0]);
                    }
                });
            },

            success: function (file, response) {

                //console.log(file);
                //console.log(response);

                $("#@name").val(response.id);
            }

        };

        $("div#@(name + "_imageDrop")").dropzone(@(name + "_options"));
    });

</script>