@using Bionet4.Data.Properties
@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<ul>
    <li>@Html.ActionLink(Resources.Agents, "Index", "Agents")</li>
    <li>@Html.ActionLink(Resources.AlbumDetails, "Index", "AlbumDetails")</li>
    <li>@Html.ActionLink(Resources.Albums, "Index", "Albums")</li>
    <li>@Html.ActionLink(Resources.Applications, "Index", "Applications")</li>
    <li>@Html.ActionLink(Resources.Article, "Index", "Article")</li>
    <li>@Html.ActionLink(Resources.BottomBanners, "Index", "BottomBanners")</li>
    <li>@Html.ActionLink(Resources.Certificates, "Index", "Certificates")</li>
    <li>@Html.ActionLink(Resources.Events, "Index", "Events")</li>
    <li>@Html.ActionLink(Resources.FAQ, "Index", "FAQ")</li>
    <li>@Html.ActionLink(Resources.Ingredients, "Index", "Ingredients")</li>
    <li>@Html.ActionLink(Resources.Logos, "Index", "Logos")</li>
    <li>@Html.ActionLink(Resources.OrderItems, "Index", "OrderItems")</li>
    <li>@Html.ActionLink(Resources.Orders, "Index", "Orders")</li>
    <li>@Html.ActionLink(Resources.Categories, "Index", "Categories")</li>
    <li>@Html.ActionLink(Resources.Products, "Index", "Products")</li>
    <li>@Html.ActionLink(Resources.ProductsForOrder, "Index", "ProductsForOrder")</li>
    <li>@Html.ActionLink(Resources.Rajons, "Index", "Rajons")</li>
    <li>@Html.ActionLink(Resources.Regions, "Index", "Regions")</li>
    <li>@Html.ActionLink(Resources.Countries, "Index", "Countries")</li>
    <li>@Html.ActionLink(Resources.Sliders, "Index", "Sliders")</li>
    <li>@Html.ActionLink(Resources.Units, "Index", "Units")</li>
    <li>@Html.ActionLink(Resources.Variables, "Index", "Variables")</li>
    <li>@Html.ActionLink(Resources.Videos, "Index", "Videos")</li>
    <li>@Html.ActionLink(Resources.Images, "Index", "Images")</li>
</ul>